./workspace/
./.idea/
./.vscode/
./.git/
./.gitmodules
./.github/
./.gitattributes
./.editorconfig
./.env
./.env.example
./.env.testing
./.env.testing.example
./.env.testing.local
./.env.testing.local.example
./.env.local
./.env.local.example
./.env.local.testing
./.env.local.testing.example
./.env.local.testing.local